<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resume Creator || Register Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <style>
            .card{
                width: 400px;
                background-color: #ffffff;
                padding: 20px;
            }
            input{
                padding: 0;
                margin: 0;
            }
        </style>
       
</head>


<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"> <img src="/img/logo1.png" width="130px"></a>
            </div>
            <nav>
                <ul>
                    {{!-- <li><a href="/resume-sample">Resume Sample</a> </li> --}}
                    <li><a href="/login">Login</a> </li>
                    <li><a href="/register">Register</a> </li>
                    <li><a href="/about">About Us</a> </li>
                </ul>
            </nav>
        </div>
    </div>
    <section id="home" style="display: flex;flex-direction:column">
        <div class="container">
            {{!-- <div class="row"> --}}
                {{!-- <div class="col-md-4 col-12 mx-auto"> --}}
                    <div class="card">
                        <div class="card-header">
                            <h4>Registration Form</h4>
                        </div>
                        <div class="card-body">
                            <form action="/auth/register" enctype="multipart/form-data" method="POST"
                                onsubmit="return checkForm()">
                                <div class="form-group mb-3">
                                    <label for="name">Name</label>
                                    <input required type="text" name="name" id="name" value="{{data.name}}" class="form-control">
                                    <small id="nameErr" style="color: red;"></small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email">Email Address</label>
                                    <input required type="email" name="email" id="email" value="{{data.email}}" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Password</label>
                                    <input required type="password" name="password" id="password" value="{{data.password}}" class="form-control">
                                    <small id="passErr" style="color: red;"></small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="confirmpassword">Confirm Password</label>
                                    <input required type="password" name="cpassword" id="confirmpassword" value="{{data.cpassword}}" class="form-control">
                                     <small id="pass1Err" style="color: red;"></small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="img">Select Image:</label>
                                    <input required type="file" class="form-control" name="uploaded_image" value="{{data.uploaded_image}}" id="image">
                                      <small id="imageErr" style="color: red;"></small>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-info" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                    {{!--
                </div> --}}
                {{!-- </div> --}}
        </div>
         {{#if message}}
                    <center>
                         <h4 style="color: red;">
                        {{message}}
                    </h4>
                    </center>
                    {{/if}}
    </section>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Dowload Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                        <img src="img/play-store.png">
                        <img src="img/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="logo1.png" width="80" height="80" style="background-color: #ffffff;">
                    <p>Our Purpose Is To Make This Site More Popular Than Amazone, Flipkart etc..</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupns</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affilicate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Folow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">@Copyright 2050</p>
        </div>
    </div>

    <script src="/reg.js"></script>
</body>

</html>